body {
    font-family: Arial, sans-serif;
}

.parallax-section {
    position: relative;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fffdfd;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 40px;
}

.content h1,
.content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#section1 {
    background-image: url('avengers1.jpg');
}

#section2 {
    background-image: url('avengers2.jfif');
}

#section3 {
    background-image: url('avengers3.webp');
}

#section3 {
   
}